# Application
PORT=5000
NODE_ENV=development

# Database
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=shiksha_lms
DATABASE_URL=postgres://postgres:postgres@localhost:5432/shiksha_lms
PGSSLMODE=no-verify


# Internationalization
DEFAULT_LANGUAGE=en
SUPPORTED_LANGUAGES=en,es,fr,de

# File Upload
UPLOADS_BASE_PATH=/uploads
COURSES_UPLOAD_PATH=/uploads/courses
MODULES_UPLOAD_PATH=/uploads/modules
LESSONS_UPLOAD_PATH=/uploads/lessons