# Application

PORT= 
NODE_ENV= 
DB_HOST= 
DB_USER= 
DB_PASSWORD= 
DB_DATABASE= 
DB_URL= 
DB_SSLMODE=
DEFAULT_LANGUAGE=
SUPPORTED_LANGUAGES=
UPLOADS_BASE_PATH= 
COURSES_UPLOAD_PATH= 
MODULES_UPLOAD_PATH= 
LESSONS_UPLOAD_PATH= 

# API Prefix
API_PREFIX= 